{% extends "index.html" %}

{% block content %}
    <h4 class="has-text-centered is-4 ribbon title">About</h4>

    <h5 class="is-5 subtitle">Nice to meet you</h5>

    <div class="content">
        Hello, I am a programmer. My initial experiences were focused on full-stack web development but it is now more related to Blockchain/Cryptography/Network stuff alongside Rust engineering extravaganza.
    </div>
    
    <h5 class="is-5 subtitle">Blog</h5>
    
    <div class="content">
        This blog contains some random thoughts about my personal projects that mainly deals with databases, data-structures, meta-heuristics and consequently, NP-Problems.
    </div>
{% endblock content %}