{% extends "index.html" %}

{% block content %}

<h4 class="has-text-centered is-4 ribbon title">Cover Letter</h4>

<div class="content mx-6 is-family-monospace is-small">
    <p class="my-5">Software engineer with a Bachelor's degree in Computer Science and over ten years of experience in several technologies and programming languages. There are two fields where I mainly act: (1) DevOps; from database administration and data modelling to back-end programming or front-end design all the way to orchestrated deployment with latest tech and (2) Standalone software; involves embedded development in restrict environments, blockchain applications mostly related to Parity's Substrate and plain command-line interfaces.</p>

    <p class="my-5">On the open-source side of things, I regularly contribute to several projects, helping and communicating with other developers. Take a look at the available coding portfolio in my GitHub profile at https://github.com/c410-f3r where most public collaborations in the last five years were more focused on the Rust Programming Language ecosystem.</p>

    <p class="my-5">Over 50 certified courses have been completed and 10 professional certifications that cover a wide range of areas were obtained from different organizations, e.g., Linux Foundation and Google Cloud. Learning is very important to keep up with both old and new technologies, my newest certification is the Kubernetes and Cloud Native Associate (KCNA) and more certifications will be earned over time.</p>

    <p class="my-5">In my last work experience I refactored, architected and developed many key parts of a Parachain, always aiming for security, readability, robustness and maintainability, which contributed to two successful marketing campaigns. In addition to all this and to finish, I also created and deployed a brand new Relay Chain like Kusama or Polkadot for custom usage and testing.</p>
</div>

{% endblock content %}
